include LICENSE
include README.md
recursive-include repsystem/static *
recursive-include repsystem/templates *
recursive-include repsystem/templatetags *
recursive-include repsystem/management *
recursive-include repsystem/fixtures *
recursive-include repsystem/resources *
recursive-include repsystem/migrations *
global-exclude *pyc
global-exclude ~*
